body {
    font-family: "news-gothic-std", Verdana;
    font-size: 0.78em;
    line-height: 2em;
    color: #333333;
    letter-spacing: 0.07em;
    background-color: #edf4f7;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: auto;
}
img {
    margin: 2em 2em 2em 2em;
}
#slogan {
    background: #FFFFFF;
    margin: 0em 0em 0em 0em;
    overflow: auto;
}
a,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
}
ul,
menu,
dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 2em;
    margin-top: 0em;
}
nav {
    background: #13405d;
    text-transform: uppercase;
    font-weight: bold;
    clear: left;
}
nav li {
    display: inline;
    list-style-type: none;
    font-size: 1em;
    color: white;
    margin-right: 30px;
    text-align: justify;
}
h1 {
    font-size: 1em;
    color: #eb9a24;
    display: inline;
}
h2 {
    text-align: left;
    margin: 1em 1em 1em 0em;
}
form {
    width: auto;
    margin-top: 0em;
    margin-left: 2em;
    padding-top: 2em;
    background-color: #edf4f7;
}
input {
    margin: 0 0 1em .5em;
    width: 19em;
}
label {
    float: left;
    text-align: left;
    width: 15em;
}
select {
    float: left;
    text-align: left;
    margin: 0 0 1em .5em;
    width: 20em;
}
button {
    margin-top: 2em;
    margin-left: 2em;
    text-align: left;
}
